/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Apply styles to the container */
.container {
    display: grid;
    place-items: center;
    height: 100vh;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 70vh;
}

/* Style the page title */
.page-title h2 {
    font-size: 35px;
    color: #333;
    margin-top: 20px;
}

/* Style the cards */
.card-short {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #777;
    opacity: 0.8; /* Lower opacity for default state */
    transition: transform 0.2s ease, opacity 0.2s ease; /* Add a smooth transition effect */
}

.card-short:hover {
    cursor: pointer;
    transform: translate(-5px, -5px);
    opacity: 1; /* Increase opacity on hover */
}

.card-long {
    display: flex;
    align-items: center;
    background-color: #777;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    width: 500px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s;
    opacity: 0.8; /* Lower opacity for default state */
    transition: transform 0.2s ease, opacity 0.2s ease; /* Add a smooth transition effect */
}

.card-long:hover {
    cursor: pointer;
    transform: translate(-5px, -5px);
    opacity: 1; /* Increase opacity on hover */
}
/* display: flex;
flex-wrap: wrap;
height: 100vh;
justify-content: center;
align-items: center;
text-align: center;
background-color: #f7f7f7;
padding: 40px 0; */